# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# EAS
.eas/

# Native (managed workflow)
android/
ios/

# Native secrets & keys
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Kotlin / Android temp
.kotlin/
*.orig.*

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Environment files
.env
.env.local
.env*.local

# TypeScript
*.tsbuildinfo

# Examples / temp
app-example
